<div class="footer">
	<div class="container footer-container">
		<div class="row footer-row">
			<div class="col-img col">
				<div class="circle">
					<svg>
						<use xlink:href="#circle"></use>
					</svg>
				</div>
			</div>
			<div class="col-csort col">
				<p>
					© 2019 Color Sorting
				</p>
				<span>
					CSort — Единственный в России и СНГ разработчик и производитель фотоэлектронных сепараторов
				</span>
			</div>
			<div class="col col-development">
				Разработка сайта — <span class="text-danger">Adelfo</span>
			</div>
		</div>
	</div>
</div>

<script src="/assets/js/app.js"></script>
