<header class="header">
	<div class="container">
		<div class="row">
			<div class="inner">
				
				<div class="col"><a href="#">
					<img class="logo" src="/assets/img/logo-csort@2x.png" alt="">
				</a></div>
				<div class="col">
					<ul class="nav header__nav">
						<li class="nav-item">
							<a class="nav-link " href="#">Выставка AGRITECHNICA 2019</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Новый SmartSort</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">О Компании</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Контакты</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">записаться на выставку</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="header-mobile">
	<div class="row cye-lm-tag">
		
		<!-- Grid column -->
		<div class="col-md-12 cye-lm-tag">
			
			<nav class="navbar navbar-light white mb-4">
				
				<!-- Navbar brand -->
				<div class="row">
					<div class="col navbar-header">
						<a href="#">
							<img class="logo" src="/assets/img/logo-csort@2x.png" alt="">
						</a>
						
						<!-- Collapse button -->
						<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class=""><i class="fas fa-bars fa-1x"></i></span></button>
					</div>
				</div>
				<!-- Collapsible content -->
				<div class="row">
					<div class="col">
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							
							<!-- Links -->
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link " href="#">Выставка AGRITECHNICA 2019</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Новый SmartSort</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">О Компании</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Контакты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">записаться на выставку</a>
								</li>
								</li>
							</ul>
							<!-- Links -->
						
						</div>
					</div>
				</div>
				<!-- Collapsible content -->
			
			</nav>
			
		
		</div>
		<!-- Grid column -->
	
	</div>
</section>
