@font-face {
    font-family: "icons";
    src: url("/assets/fonts/icon-font-generator/icons.eot?d66a92dae25c898af45060ecd39bcb49?#iefix") format("embedded-opentype"),
url("/assets/fonts/icon-font-generator/icons.woff2?d66a92dae25c898af45060ecd39bcb49") format("woff2"),
url("/assets/fonts/icon-font-generator/icons.woff?d66a92dae25c898af45060ecd39bcb49") format("woff"),
url("/assets/fonts/icon-font-generator/icons.ttf?d66a92dae25c898af45060ecd39bcb49") format("truetype");
}

i[class^="f-icon-"]:before, i[class*=" f-icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.f-icon-fa-map-marker-alt:before {
    content: "\f101";
}
.f-icon-fa-plus-circle:before {
    content: "\f102";
}
