
.navbar{

	position: relative;

	.navbar-header{
		display: flex;
		justify-content: space-between;
	}
	&-nav{
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}

	.nav-link{
		display: block;
		text-align: center;
	}


	&-collapse {
		flex-basis: 100%;
		flex-grow: 1;
		align-items: center;
	}
}


.header{
	&.header_mobile{

		@extend .mobile-only;
		.logo{
			height: 42px;
			padding-top: 12px;
		}
	}

	.inner{
		display: flex;
		align-items: center;
		padding: 20px $grid-gutter-width/2;

	}

	.logo {
		height: 50px;
		padding-left: 0;
	}
	.col_logo{
		max-width: 219px;
	}

	&__nav{

		margin-top: -18px;
		display: flex;

		.nav-item{
			flex: 1 0 auto;
			margin: 0 0px 0 36px;
		}

		.nav-link{

			&.active{
				border-bottom: solid 3px;
				border-bottom-left-radius: 1.5px;
				border-bottom-right-radius: 1.5px;
			}

			&:hover{
				background-color: unset;
				border-bottom: solid 3px;
				border-bottom-left-radius: 1.5px;
				border-bottom-right-radius: 1.5px;
			}
		}
	}


	.nav-link{
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		color: $grey1;
		text-transform: uppercase;

		padding: 6px 0;
		margin: 0;
		&.active{
			color: $red;
		}
	}
}

