
#index-page{
	overflow: hidden;
}


.place{
	i.f-icon-fa-map-marker-alt{
		margin-right: 39px;
		&:before{
			font-size: 41px;
			top: -7px;
			position: absolute;
		}
	}
	svg{
		margin-top: -13px;
		width: 35px;
		height: 43px;
	}
	.title{
		margin: 0 51px 0 14px;
		font-size: 24px;
		line-height: 1.25;
	}
	.how-to-get{
		font-size: 16px;
		line-height: 1.88;

		border-bottom: 1px dashed;

		&:hover{
			text-decoration: none;
		}
	}
}

.number-list{
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;


	@include media-breakpoint-down(lg){
		flex-wrap: wrap;
	}

	.number-item{
		position: relative;
		padding: 0 0px 0 36px;
		flex: 0 0 341px;

		&:nth-child(3){
			flex-shrink: 1;
		}
		&:before{
			position: absolute;
			content: '';
			top: 0px;
			left: 7px;
			font-size: 36px;
			transform: rotate(30deg);
			width: 2px;
			height: 29px;
		}
	}

	@each $colorName,$color in $colors {
		&._#{$colorName}{
			.number-item{
				&:before{
					background-color: $color;
				}
			}
		}
	}

	.big-nimber{
		font-size: 36px;
		font-weight: bold;
		line-height: 1.56;

		+.description{
			padding-top: 5px;
		}
	}

	.description{
		font-size: 16px;
		line-height: 1.38;

		&:first-child{
			padding-top: 25px;
		}
	}
}

.circle{
	position: relative;
	svg{
		height: 720px;
		width: 720px;
		position: absolute;
	}

}

.advantages {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;

	.item {
		position: relative;
		list-style: none;
		flex: 0 0 255px;
		display: flex;
		padding-left: 27px;
		line-height: 22px;
		padding-bottom: 25px;

		&:before {
			position: absolute;
			content: "";
			display: inline-block;
			color: #e31e24;
			width: 8px;
			height: 8px;
			background-color: #e31e24;
			border-radius: 50%;
			top: 10px;
			left: 0;
		}
	}




}

section.smartsort-1 {

	padding: 0 $grid-gutter-width/2 116px $grid-gutter-width/2;

	@include media-breakpoint-down(xs){
		.text-col {
			padding-top: 30px;
		}

		.img-caption{
			img{
				width: 100%;
			}
		}
	}
	.text-col {
		padding: 95px 0 0 0;
		max-width: 510px;

		z-index: 2;

		.text-1 {
			padding: 33px 0 32px 0;
			font-size: 24px;
			line-height: 1.25;
			color: #000000;
		}
	}

	.image-col{
		max-width: calc(100% - 510px);

		.image-1{

			height: 651px;
			position: absolute;
			margin: 57px 0 0 -185px;
			z-index: 1;
		}
	}
	.circle{
		color: #fce41a;
		svg{
			top: 22px;
			left: 74px;
		}

	}
}

section.agritechnica{
	padding: 92px 0 60px 0;
	.top-description{
		max-width: 551px;
		font-size: 24px;
		line-height: 1.25;
		color: #000000;
	}
	h1{
		max-width: 543px;
		color: #000000;
	}


	.col-text{
		max-width: 598px;
		flex: 2 0 0;
	}
	.col-video{
		max-width: unset;
		flex: 1 0 0;
	}

	.place{
		padding: 39px 0 0 0;

		.how-to-get{
			border-bottom-color: $black;
		}
	}
	.circle{
		z-index: -1;
		color: $white;
		svg{
			top: 30px;
			left: -460px;
		}
	}
	.signup{
		padding: 53px 0 0 0;
		.btn{

			padding: 14px 23px;
			border-radius: 30px;
			background-color: $red;
			width: 323px;

			font-size: 24px;
			line-height: 1.25;
			color: $white;
		}
	}
}


section.agritechnica2{
	padding: 80px 0 51px 0;

	color: $white;
	.top{
		padding: 0 0 48px;
		flex-wrap: nowrap;

		@include media-breakpoint-down(lg){
			flex-wrap: wrap;
			.col{
				flex: 1 1 0;
				padding-bottom: 15px;
			}
		}

		.col{
			flex: 0 0 0;
			&:nth-child(1){
				flex-basis: 427px;
			}
			&:nth-child(2){
				flex-basis: 324px;
			}
			&:nth-child(3){
				margin: 14px 0 0 12px;
			}


			//@include
		}
		.image-1{
			height: 87px;
		}
	}
	.theme{
		opacity: 0.5;
	}

	h1{
		margin-bottom: 31px;
	}

	.address{
		padding: 82px 0 0 85px;
		svg{
			margin: -6px 20px 0 0;
			height: 40px;
			width: 40px;
		}
	}
}

section.accuracy{
	padding: 95px 0 95px 0;

	.icon-block{
		margin-top: 29px;
		@include media-breakpoint-up(lg){
			margin-left: 82px;
		}

		.icon-block__icon{
			width: 48px;
			height: 48px;
			margin-bottom: 31px;

		}
		&__description{
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
		}
	}

	.content{
		margin-top: 92px;
	}

	.accuracy-list{
		color: #000000;
		margin-left: -18px;
		padding-top: 39px;
		@extend .row;
		flex-wrap: wrap;

		.accuracy-item{
			padding-bottom: 39px;

			@extend .col-6;

			@include media-breakpoint-up(lg){


				&:nth-child(2n+1){
					max-width: 261px;
					flex: 0 1 261px;
				}
				&:nth-child(2n){
					padding-right: 13px;
					padding-left: 13px;
					max-width: 253px;
					flex: 0 1 253px;
				}
				&:nth-child(4){
					padding-bottom: 46px;
				}
			}

			&:nth-child(2n+1){
				font-size: 18px;
				font-weight: bold;
				line-height: 1.33;
			}
			&:nth-child(2n){
				font-size: 14px;
				line-height: 24px;
				font-weight: normal;
			}

		}




	}


	@include media-breakpoint-down(sm){
		.content{
			padding-top: 0;
			margin-top: 30px;
		}
		.accuracy-list{

			padding-top: 0;
			margin-left: -15px;
			.accuracy-item{
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}
}

section.advantages{
	padding-bottom: 101px;
	.advantages__list{
		padding: 48px 0 0 0;
		.advantages__item{
			@extend .col-md-4;
			@extend .col-sm-12;

			.item__icon{
				height: 104px;
				svg{
					text-align: left;
					display: inline-block;

					height: 64px;
				}
			}

			.title{
				min-height: 78px;
				font-size: 18px;
				font-weight: bold;
				line-height: 1.33;
			}
		}

	}
}

section.features{
	min-height: 1269px;
	color: $black;
	z-index: 1;

	.image-1{
		position: relative;

		img{
			position: absolute;
			top: 459px;
			left: 183px;
		}
	}
	.circle {
		color: rgba(108,113,127,0.05);
		svg {
			top: 180px;
			left: 0;
			width: 999px;
			height: 998px;
			z-index: 0;
			//color: #6c717f;
		}
	}

	.oval{
		position: relative;
		img{
			position: absolute;

			top: 1040px;
			left: calc(50% - 167px);
		}
	}

	.watch-360{
		max-width: 300px;
		position: relative;
		top: 1070px;
		left: calc(50% + 10px);
		img{
			position: absolute;
		}
		.text{
			font-size: 14px;
			color: $grey;
			position: absolute;
			top: 54px;
			left: -31px;
		}
	}
	.description{
		border-left: 2px solid $red;
		color: $grey;

		margin-top: 52px;
		padding-left: 57px;
		@extend .f-24;
	}

	.features__list{
		margin-top: 147px;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.list__col{
			@extend .col-md-3;

			&:nth-child(1){
				max-width: 270px;
				flex-basis: 270px;
			}
			&:nth-child(2){
				max-width: 228px;
				flex-basis: 228px;
			}
			.item{
				list-style: none;
				font-size: 14px;
				margin: 0 0 42px 23px;
				line-height: 20px;

				.link{
					position: relative;
					font-size: 14px;
					cursor: pointer;
					line-height: 18px;


					&.clicked{
						@extend .btn;
						background-color: $yellow;
						margin: -16px 0 0 -39px;
						padding: 9.5px 31px;

						&:before{
							display: none;
						}
					}
					&:before{
						position: absolute;
						font-family: icons !important;
						font-style: normal;
						font-weight: normal !important;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;

						content: "\f102";
						color: $red;

						left: -40px;
						top: calc(50% - 10px);
						font-size: 21px;
					}

				}

				.description{
					font-size: 14px;
					color: $grey;

					margin: 0;
					padding: 20px 0 0;
					//margin-bottom: -16px;


					border: 0;
					line-height: 19px;
				}

			}
		}
	}
}

section.read-more{
	background: $grey;

	padding: 60px 0 59px 0;
	h2{
		margin: 0;
	}
	.row{
		flex-wrap: nowrap;
		.col{
			&:nth-child(1){
				max-width: 600px;
			}
			&.btn-container{
				display: flex;
				align-items: center;
				border-radius: 30px;
				max-width: calc(100% - 600px);
			}
		}

	}
	.btn{
		background: transparent;
		font-size: 24px;
		line-height: 1.25;

	}
}

section.sort-prod{
	padding: 100px 0 0 0;
	min-height: 800px;

	.circle{
		z-index: -1;
		color: $white;
		svg{
			top: 22px;
			left: -460px;
		}
	}
	h1{
		margin-bottom: 48px;
	}
	.sort-prod__list{
		img{
			margin: 0 16px 21px 0;
			width: auto;
			height: 64px;
		}
		p{
			font-size: 18px;
			font-weight: bold;
			line-height: 1.33;
			margin: 0;
		}
		.item{
			padding: 45px 0 6px 16px;
		}
	}
}

section.results{
	padding-top: 121px;
	min-height: 1104px;

	h1{
		margin-bottom: 89px;
	}
	h5{
		margin-bottom: 19px;
		font-size: 18px;
		font-weight: 700;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	.img-1{
		position: relative;

		&:before{
			content: " ";
			width: 3px;
			height: 240px;
			background-color: #fce41c;
			position: absolute;
			left: calc(50% - 1.5px);
			z-index: 0;
			top: -20px;
		}
		img.result{
			width: 487px;
			height: 200px;
			border-radius: 15px;
		}

		.arrow-btn{
			position: absolute;
			z-index: 1;
			width: auto;
			height: auto;
			border-radius: initial;
			top: calc(50% - 23px);
			left: calc(50% - 23px);
		}
	}

	.col-md-6{
		padding-bottom: 50px;
	}

	.before-after{
		padding-top: 19px;
		display: flex;
		justify-content: space-between;

		font-size: 15px;
		color: $grey;
	}
	.swiper-slide{
		padding-bottom: 20px;
	}
}

section.about{
	background: $grey;
	color: $white;
	padding-top: 89px;
	min-height: 1189px;

	.circle{
		z-index: 0;
		color: rgba(255,255,255,0.14);
		svg{
			top: -152px;
			right: -319px;
		}
	}

	.media-preview{
		margin: 32px 0 66px;
		width: 100%;
		height: 560px;
	}

	.text2 {
		line-height: 22px;
		padding-top: 5px;
		letter-spacing: 0px;
	}
	.btn{
		margin-top: -41px;
		padding: 14px 19px;
	}
}

section.reviews{
	padding-top: 100px;

	h1{

		margin-bottom: 60px;
	}
	.img{
		&-col{
			max-width: 171px;
		}

		position: relative;
		width: 100px;

		img{
			width: 100%;
			margin-bottom: 30px;

		}
		.title{
			font-size: 24px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $black;
		}

		svg.quotes{
			z-index: -1;
			position: absolute;
			top: 11px;
			left: 85px;
			width: 60px;
			color: $grey;
		}
	}
	.text{
		padding-top: 62px;

		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		color: $grey;
	}

	.review__list{

	}


	.swiper{
		margin: 100px 0 20px 0;
		width: 660px;
		max-width: 660px;

		&-button{
			top: 50%;
			height: 63px;
			width: 30px;
			&-next {
				right: -75px;
			}
			&-prev {
				left: -75px;
			}
		}
		&-outer{
			display: flex;
			justify-content: center;
		}

		&-container{
			overflow: visible;
		}

		&-wrapper{
			align-items: center;
		}
		.swiper-slide{

			display: flex;
			.media-preview{
				transform: scale(0.7);
				transition: transform 1s ease-out;
			}

			&-prev{
				justify-content: flex-end;
			}
			&-next{
				justify-content: flex-start;
			}

			&-active{
				height: 369px !important;
				.media-preview{
					transform: none;
				}
			}
		}
		&__bottom-text{
			max-width: 660px;
			margin: 14px auto 99px;
			padding-left: 3px;

			h5{
				margin-bottom: 22px;
				font-size: 24px;
				font-weight: 700;
				color: $black;
			}
			p{
				font-size: 16px;
				line-height: 1.38;
				color: $grey;
			}
		}
	}
}

section.signup{
	height: 828px;
	background-color: $blue;
	color: $white !important;

	padding: 81px 0 0 0;

	.circle{
		z-index: -1;
		color: $white;
		svg{
			top: 30px;
			right: -460px;
		}
	}
	.logo-img{
		width: 246px;
	}
	h1{
		margin: 30px 0 37px;
	}

	.place{
		.f-24{
			margin-right: 36px;
		}
		.how-to-get{
			color: $white;
			border-bottom-color: $white;
		}
	}
}


section.contacts{
	padding: 50px 0 33px 0;

	h1{
		margin-bottom: 55px;
	}
	h2{
		margin-bottom: 0px;
		font-size: 48px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;

		span{
			color: #6c717f;
		}
	}

	.cities{

		margin-top: 61px;

		p{
			margin-bottom: 20px;
		}
		span{
			font-size: 24px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 0.83;
			letter-spacing: normal;
			color: #6c717f;
		}

		.col-md-3{
			margin-bottom: 30px;
		}
	}

}


body{
	//background-color: $yellow;
}

