
@import "fonts";
@import "mixins";

@import "bootstrap";

body{
	font-family: $font-clearSans;
	color: #000000;
}

.display-only{
	@include media-breakpoint-down(lg){
		display: none;
	}
}

.mobile-only{
	@include media-breakpoint-up(lg){
		display: none;
	}
}
.mr-auto, .mx-auto {
	margin-right: auto!important;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.bold{
	font-weight: 700;
}
.f-24,._f-24{
	line-height: 1.25;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;

	&.bold{
		font-weight: 600;
	}
}
._f-18{
	font-size: 18px;
	line-height: 1.33;
}
._f-16{
	font-size: 16px;
	line-height: normal;
}

._m-19{
	margin-bottom: 19px;
}
.p-b-24{
	padding-bottom: 24px;
}
.black-transp5{
	color: $blackTransp5;
}

button {
	background-color: unset;
	border-width:0;
	font-size:20px;
	padding: 4px 9px ;
	text-align:center;
	outline: none;
}
.btn{
	padding: 14px 28px;
	border-radius: 30px;
	&_24{
		@extend .f-24;
	}

}


h1{
	font-size: 72px;
	font-weight: bold;
	line-height: 80px;

	small{
		font-size: 36px;
		font-weight: normal;
		line-height: 0.83;
	}

	&.h1{
		&_top20{
			margin-top: 20px;
		}
	}
}

h2{
	font-size: 36px;
	font-weight: bold;
	line-height: 2.22;
	letter-spacing: 0.6px;
}
h3{
	font-size: 36px;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.67;
	letter-spacing: normal;
	font-weight: 600;
}


@include media-breakpoint-down(lg){

	h1{
		font-size: 38px;
		font-weight: bold;
		line-height: 1;

		small{
			font-size: 24px;
			font-weight: normal;
			line-height: .83;

		}
	}


	h2{
		font-size: 24px;
		font-weight: bold;
		line-height: normal;
		letter-spacing: normal;
	}

}


iframe{
	.media-preview{
		max-width: 100%;
	}
}
