
@import "./icons";


@font-face {
	font-family: 'Clear Sans';
	src: local('Clear Sans'), local('ClearSans'), url('../fonts/clearsans/clearsans.woff2') format('woff2'), url('../fonts/clearsans/clearsans.woff') format('woff'), url('../fonts/clearsans/clearsans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

$font-clearSans: "Clear Sans";
